#logo{
	float:left; 
	background:lightgrey; 
	height:15%; 
	width:15%;
}
#hashtagsmain{
	background-color:#82b440
}
#titlebox{
	padding-top:10px;
}
#whitebox{
	background-color:white; 
	color:#82b440; 
	width:30%; 
	padding:3%;
}
#title{
	font-size:50px; 
	padding:3%;
}
html, body {
	max-width: 100%;
	overflow-x: hidden;
}

.sort{
	display:inline;
}
#navvy{
	display:inline; 
	color:#555555; 
	padding:20px;
}
.button.alt{
	color:#555555; 
	padding-top:10px; 
	padding-bottom:10px;
}
#hashtagbox{
	background: http://i.stack.imgur.com/TMCfE.png;
	position:relative;
	z-index:2;
}
.hashtag{
	padding-top:10px;
}
.embed-responsive-item{
	border:none; 
	overflow:hidden; 
	width:1500px; 
	height: 2100px; 
	position:relative;
	padding:5px;
	z-index:-1;
}
@media all and (orientation:portrait) {
	#title{font-size:20px;}
}



